@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Riot&display=swap');
/* Estilos Nav */
nav{
  background-color: #008a88;
}

/* Estilos para el menú hamburguesa */
.nav .nav-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: rgb(14, 13, 13);
}
.nombre{
  padding: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Lobster',sans-serif;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon .bar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

/* Estilos para mostrar el menú cuando isMenuOpen es verdadero */
.show-menu .menu-icon {
  display: block;
}

.show-menu .nav {
  display: flex;
  flex-direction: column;
}

.show-menu .nav-item {
  margin: 10px 0;
}

/* Estilos para el menú hamburguesa en pantallas más pequeñas (500px o menos) */
@media (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    margin-right: 20px;
  }

  /* Estilos para mostrar el menú en pantallas pequeñas */
  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }

  .show-menu .nav-item {
    margin: 0px 0;
  }

  .show-menu{
    display: block;
  }
}

/* Estilo del dropdown */
.otro {
  color: #008a88;
}
button {
  color: #fff;
}

.dropdown-content { 
  margin-top: 7px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  background-color: #fff; /* Color de fondo */
  border: 1px solid #ccc; /* Borde del menú */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  padding: 10px;
}

.dropdown-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #008a88;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #070707;
}

/*Crear Blog*/
.container {
    margin-top: 40px;
    box-shadow: 0 5px 9px rgba(5, 5, 5, 0.1); 
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    width: 700px;
  }
 
  .subir{
    margin-top: 20px;
  }

  h2 {
    color: #008a88;
    font-size: 30px;
    font-weight: bold; 
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    margin-top: 10px;
    background-color: #008a88;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #008a88; 
  }
  
  .mostrar{
    margin-top: 30px;
    margin-left: 50px;
  }
  .card-img-top {
    max-width: 200px; 
    height: auto; 
  }
  .blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 18px; 
  }
  
  .card {
    border: 2px solid #ccc; 
    border-radius: 10px; 
  }
  .card-title{
    color: #0f0f0f;
  }
  .card-buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px; 
  }
  
  .card-buttons button {
    padding: 0; 
    margin: 0; 
    color: #008a88; 
  }
  
  .card-buttons button:hover {
    color: #005c5a; 
  }

.card-title, .card-text {
  color: black;
}


.btn-link {
  color: #000; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.btn-link:hover {
  color: #333; 
}

.btn-primary,
.btn-secondary {
  color: #fff; 
  background-color: #008a88; 
  border: none;
  border-radius: 5px; 
  padding: 0.5rem 1rem;
  margin-right: 5px;
  transition: background-color 0.3s ease; 
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #005b59; 
}


.form-group {
  display: flex;
  justify-content: space-between;
}


.btn-cancelar {
  color: #fff; 
  background-color: #ff0000; 
  border: none;
  border-radius: 5px; 
  padding: 0.5rem 1rem; 
  transition: background-color 0.3s ease; 
}

.btn-cancelar:hover {
  background-color: #cc0000; 
}
.card-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #252525; 
}
.container {
  margin-top: 40px;
  box-shadow: 0 5px 9px rgba(5, 5, 5, 0.1);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 700px;
}

.form-group {
  margin-bottom: 13px; 
}

label {
  font-weight: bold;
  display: block; 
}

input[type="text"],
textarea {
  width: 90%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-primary {
  margin-top: 10px;
  background-color: #008a88;
  border: none;
}

.btn-primary:hover {
  background-color: #005b59;
}
