<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
            <li class="nav-item">
              <a routerLink="/blog" class="nav-link" aria-current="page">Blog</a>
            </li>
            <li class="nav-item">
              <a routerLink="/horarios" class="nav-link">Horarios</a>
            </li>
            <li class="nav-item">
              <a routerLink="/actvidades" class="nav-link">Actividades</a>
            </li>
            <li class="nav-item">
              <a routerLink="/asistencias" class="nav-link">Asistencias</a>
            </li>
            <div class="dropdown">
              <button class="dropdown-button">
                <span class="material-symbols-outlined">person</span>
              </button>
              <div class="dropdown-content">
                <li class="nav-item">
                  <a routerLink="/perfil" class="nav-link otro " aria-current="page">Ver Perfil</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/estadisticas" class="nav-link otro ">Estadísticas</a>
                </li>
              </div>
            </div> 
        </ul>
  </div>
</nav> 
<div class="container">
  <h2>Nuevo Blog</h2>
  <form (ngSubmit)="crearBlog()" #blogForm="ngForm">
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="newBlog.nombre" required>
    </div>
    <div class="form-group">
      <label for="comentario">Comentario:</label>
      <textarea class="form-control" id="comentario" name="comentario" [(ngModel)]="newBlog.comentario" required></textarea>
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-primary">Crear Blog</button>
  </form>
</div>
<div class="mostrar">
  <h2>Lista de Blogs</h2>
  <div *ngIf="newsList.length > 0; else noBlogs">
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of newsList">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">{{ blog.nombre }}</h3>
            <p class="card-text">{{ blog.comentario }}</p>
            <p class="card-date">{{ blog.fechaPublicacion | date:'dd/MM/yyyy' }}</p>
            <img [src]="transformUrl(blog.urlImagen)" class="card-img-top" alt="Imagen Opcional">
            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-link" (click)="editBlog(blog)">Editar</button>
              <button class="btn btn-link" (click)="deleteBlog(blog.identificador)">Eliminar</button>
            </div>
            <div *ngIf="editingBlog && editingBlog.identificador === blog.identificador">
              <form (ngSubmit)="updateBlog()" #editBlogForm="ngForm">
                <div class="form-group">
                  <label for="titulo">Título:</label>
                  <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="editingBlog.titulo" required>
                </div>
                <div class="form-group">
                  <label for="comentario">Comentario:</label>
                  <textarea class="form-control" id="comentario" name="comentario" [(ngModel)]="editingBlog.comentario" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar Blog</button>
                <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noBlogs>
    <p>No hay blogs disponibles.</p>
  </ng-template>
</div>