<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
          <li class="nav-item">
            <a routerLink="/indexKatalina" class="nav-link">Inicio</a>
          </li>
            <li class="nav-item">
              <a routerLink="/ver-blog" class="nav-link" aria-current="page">Blog</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-horarios" class="nav-link">Horarios</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-actvidades" class="nav-link">Actividades</a>
            </li>
            <div class="dropdown">
              <button class="dropdown-button" (click)="toggleProfileMenu()">
                <span class="material-symbols-outlined">person</span>
              </button>
              <div class="dropdown-content" *ngIf="mostrarMenuPerfil" >
                <li class="nav-item">
                  <a routerLink="/perfil-detalle" class="nav-link otro " aria-current="page">Ver Perfil</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/estadisticas" class="nav-link otro ">Estadísticas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link otro" (click)="logout()">Cerrar Sesión</a>
                </li>
              </div>
            </div> 
        </ul>
  </div>
</nav>
<h2 class="titulos">Tu Asistencia</h2>
<div class="chart-container">
  <div class="graficoUno">
    <div class="chart" id="chart"></div>
  </div>
  <div class="table-container">
    <div class="fechaFiltro">
      <input type="date" [(ngModel)]="fechaFiltro">
      <button (click)="aplicarFiltroFecha()">Aplicar filtro</button>
      <button (click)="limpiarFiltros()">Limpiar Filtros</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Asistencia</th> 
          <th>Instructor</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let asistencia of asistencias">
          <tr>
            <td>{{ asistencia.fecha | date: 'dd-MM-yyyy' }}</td>
            <td>{{ asistencia.status }}</td>
            <td>{{ asistencia.nombreInstructor }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  
