@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap');

// GRAFICOS Y DEMAS 
.titulos {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-style: normal;
  margin-top: 1.5%;
  text-align: center;
  margin-bottom: 25px;
  color: #088a88;
}

.titulos::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ddd;
  margin: 10px 50px;
}

.chart-container {
  margin-top: 2%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  

}

.graficoUno {
  text-align: center;
  width: 48%;
}


.chart {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}


@media (max-width: 1200px) {
  .graficoUno {
    width: 60%;
  }
}


@media (max-width: 1000px) {
  .graficoUno{
    width: 75%;
    margin: 0 auto;
  }
  

  .chart-container {
    justify-content: center;
    flex-direction: column; /* Apilar los gráficos en pantallas más pequeñas */
  }
  .titulos {
    margin-bottom: 15px;
    font-size: 25px;
    color: #088a88;
  }
}


@media (max-width: 800px) {
  .graficoUno {
    width: 85%; /* Ocupar el 100% del ancho en pantallas más pequeñas */
    margin: 0 auto;
  }
 
  .chart-container {
    justify-content: center;
    flex-direction: column; /* Apilar los gráficos en pantallas más pequeñas */
  }
  .titulos {
    margin-bottom: 15px;
    font-size: 20px;
    color: #088a88;
  }
}

@media (max-width: 625px) {
  .graficoUno{
    width: 100%; /* Ocupar el 100% del ancho en pantallas más pequeñas */
    margin: 0 auto;
  }

  

  .chart-container {
    justify-content: center;
    flex-direction: column; /* Apilar los gráficos en pantallas más pequeñas */
  }
  .titulos {
    margin-bottom: 15px;
    font-size: 20px;
    color: #088a88;
  }
}

@media (max-width: 480px) {
  .graficoUno {
    width: 100%; /* Ocupar el 90% del ancho en pantallas más pequeñas */
    margin: 0 auto; /* Centrar */
  }
  
  .chart-container {
    justify-content: center;
    flex-direction: column;
  }

  .chart h2 {
    font-size: 18px; /* Tamaño de fuente más pequeño para títulos */
  }
}

@media (min-width: 1800px) {
  
  .graficoUno{
    width: 35%;
  }

  .chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
}


// ESTILOS NAV 
nav{
  background-color: #008a88;
}

/* Estilos para el menú hamburguesa */
.nav .nav-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: rgb(14, 13, 13);
}
.nombre{
  padding: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Lobster',sans-serif;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon .bar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

/* Estilos para mostrar el menú cuando isMenuOpen es verdadero */
.show-menu .menu-icon {
  display: block;
}

.show-menu .nav {
  display: flex;
  flex-direction: column;
}

.show-menu .nav-item {
  margin: 10px 0;
}

/* Estilos para el menú hamburguesa en pantallas más pequeñas (500px o menos) */
@media (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    margin-right: 20px;
  }

  /* Estilos para mostrar el menú en pantallas pequeñas */
  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }

  .show-menu .nav-item {
    margin: 0px 0;
  }

  .show-menu{
    display: block;
  }
}

/* Estilo del dropdown */
.otro {
  color: #008a88;
}
button {
  color: #fff;
}

.dropdown-content { 
  margin-top: 7px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  background-color: #fff; /* Color de fondo */
  border: 1px solid #ccc; /* Borde del menú */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  padding: 10px;
}

.dropdown-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #008a88;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #070707;
}

// TABLA 

.table-container {

  margin: 30px auto;
  border-collapse: collapse;
  overflow-x: auto;
  align-content: center;
}

thead {
  background-color: #57a7a5;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

th {
  text-align: center;
  color: white;
}

td {
  color: #333;
}

@media only screen and (max-width: 965px) {

  table {
    width: 100%;
    overflow-x: auto;
  }

  th, td {
    white-space: nowrap; /* Evita el colapso del texto en celdas pequeñas */
  }
}
