<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
          <li class="nav-item">
            <a routerLink="/indexKatalina" class="nav-link">Inicio</a>
          </li>
            <li class="nav-item">
              <a routerLink="/ver-blog" class="nav-link" aria-current="page">Blog</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-horarios" class="nav-link">Horarios</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-actvidades" class="nav-link">Actividades</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-asistencias" class="nav-link">Asistencias</a>
            </li>
            <div class="dropdown">
              <button class="dropdown-button">
                <span class="material-symbols-outlined">more_horiz</span>
              </button>
              <div class="dropdown-content">
                <li class="nav-item">
                  <a routerLink="/perfil-detalle" class="nav-link otro " aria-current="page">Ver Perfil</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/estadisticas" class="nav-link otro ">Estadísticas</a>
                </li>
              </div>
            </div> 
        </ul>
  </div>
</nav>
  <h2 class="subtitulo mt-5" >Asistencias</h2>
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let asistencia of asistenciaList">
              <h4>{{ asistencia.nombreArchivo }}</h4>
              <p>{{ asistencia.comentario }}</p>
              <a (click)="descargarArchivo(asistencia.archivoUrl)" class="btn btn-primary-ver-archivo" >Ver archivo</a>
          </li>
        </ul>
      </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>