.nombre{
    font-weight: bold;
}
.titulo {
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
.sub-titulo{
    font-weight: bold;
    text-align: center; 
}
.descripción{
    text-align: center; 
}
.aprendiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}
.nav-img{
    width: 40px;
}