<app-sidebar></app-sidebar>
<div class="container">

  <div class="statistics-container">
    <h2>Estadísticas de Instructores</h2>

    <form (ngSubmit)="applyFilters()" #filtroForm="ngForm">
      <div class="filters">
        <label>Filtrar por Ficha:</label>
        <select [(ngModel)]="selectednumeroFicha" name="selectednumeroFicha" ngModel>
          <option value="">Todos</option>
          <option value="1">2558104</option>
          <option value="2">1800002</option>
          <option value="3">1231236</option>
          <option value="4">2634256</option>
          <option value="5">2789008</option>

        </select>

        <button type="submit">Aplicar Filtros</button>
      </div>
    </form>

    <table class="custom-table">
      <thead>
        <tr>
          <th>Documento</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de Nacimiento</th>
          <th>Ficha</th>
          <th>Correo</th>
          <th>Fecha de ingreso</th>
          <th>Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of filteredInstructores">
          <td>{{ instructor.documento }}</td>
          <td>{{ instructor.primerNombre }} {{ instructor.segundoNombre }}</td>
          <td>{{ instructor.primerApellido }} {{ instructor.segundoApellido }}</td>
          <td>{{ instructor.fechaNacimiento }}</td>
          <td>{{ instructor.numeroFicha }}</td>
          <td>{{ instructor.correo }}</td>
          <td>{{ instructor.fechaIngreso }}</td>
          <td>{{ instructor.celular }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
