*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

a{
    text-decoration: none;
    padding-right: 40px;
    color:black;
    min-width: 250px;
}
header{
    display: flex;
    height: 90px;
    color: #58acfa;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 2px #6e6e6e;
}

.Logo{
    display: flex;
    align-items:center;
}

.imagen_1{
    height: 95px;
}

.imagen_2{
    height: 40px;
    margin-left: -30px;
}

nav a:hover{
    color:#58acfa;
}


/* -------------------------------- INFO INDEX ------------------------- */

.container{
    margin-top: 8%;
    cursor: pointer;
    height: 60vh;
}

.background_wrapper{
    width: 100vw;
    position: absolute;
    height: 60vh;
    min-height: 500px;
    z-index: 10;
}

.background_container{
    position: relative;
    width: 100%;
    height: 100%;
}

.animation figure{
    position:absolute;
    height: 350px;
    width: 450px;
    overflow: hidden;
    border-radius: 8px;
    right: 2%;
    top: 35%;
    cursor: pointer;
    z-index: 20;
}

.animation figure img{
    width: 101%;
    height: 101%;
    transition: all 500ms ease-out;
}

.animation figure .capa{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(14, 169, 203, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.container:hover figure > .capa{
    opacity: 1;
    visibility: visible;
}

.container:hover figure > .capa h1{
    margin-top: 95px;
    margin-bottom: 50px;
}

.container:hover figure > img{
    transform: scale(1.3);
    
}

.container:hover figure > .capa h1{
    color: white;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 100px;
}

.container:hover figure > .capa p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    max-width: 230px;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .background_container{
        object-fit: cover;
    }
  }