body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.degradado {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right,  #57a7a5, #088a88, #056b69,transparent);
    z-index: -1;
}

main{
    margin-top: 150px;
}

/*background-image: linear-gradient(to bottom, #088a88, #0b4f6c);/*