<app-sidebar></app-sidebar>

<div class="content">
  <p class="section-title">Asignar Fichas</p>

  <div *ngIf="instructores && fichas" class="form-container">
    <div class="form-group">
      <label for="instructorSelect">Selecciona un instructor:</label>
      <select id="instructorSelect" [(ngModel)]="selectedInstructor" class="custom-select">
        <option *ngFor="let instructor of instructores" [value]="instructor.identificador">
          {{ instructor.primerNombre }} {{ instructor.primerApellido }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="fichaSelect">Selecciona una ficha:</label>
      <select id="fichaSelect" [(ngModel)]="selectedFicha" class="custom-select">
        <option *ngFor="let ficha of fichas" [value]="ficha.identificador">
          {{ ficha.numeroFicha }}
        </option>
      </select>
    </div>

    <button (click)="agregarFicha()" [disabled]="!selectedInstructor || !selectedFicha" class="boton">
      Agregar Ficha
    </button>
  </div>
</div>

<div *ngIf="asignacionExitosa" class="alert alert-success">
  Asignación correcta
</div>
