@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Riot&display=swap');

.titulo {
    color: #008a88;
    font-weight: bold;
    text-align: left;
    margin-left: 180px;
    margin-top: 10%;
    font-family: "Outfit", sans-serif;
    font-size: 46px;
    font-style: normal;
}
.sub-titulo{
    font-weight: bold;
    text-align: left; 
    margin-left: 325px;
    margin-top: 30px;
    font-size: 20px;
}
.descripción {
    font-size: medium;
    font-weight: bold;
    text-align: justify;
    margin-top: 15px;
    margin-left: 18%;
    width: 300px; 
    height: 325px;
}

.imagen {
    margin-top: -250px;
    margin-left: 350px;
    height: 450px;
    width: 500px;
    border-radius: 10px;
}

/* Estilos Nav */
nav{
  background-color: #008a88;
}

/* Estilos para el menú hamburguesa */
.nav .nav-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: rgb(14, 13, 13);
}
.nombre{
  padding: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Lobster',sans-serif;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon .bar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

/* Estilos para mostrar el menú cuando isMenuOpen es verdadero */
.show-menu .menu-icon {
  display: block;
}

.show-menu .nav {
  display: flex;
  flex-direction: column;
}

.show-menu .nav-item {
  margin: 10px 0;
}

/* Estilos para el menú hamburguesa en pantallas más pequeñas (500px o menos) */
@media (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    margin-right: 20px;
  }

  /* Estilos para mostrar el menú en pantallas pequeñas */
  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }

  .show-menu .nav-item {
    margin: 0px 0;
  }

  .show-menu{
    display: block;
  }
}

/* Estilo del dropdown */
.otro {
  color: #008a88;
}
button {
  color: #fff;
}

.dropdown-content { 
  margin-top: 7px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  background-color: #fff; /* Color de fondo */
  border: 1px solid #ccc; /* Borde del menú */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  padding: 10px;
}

.dropdown-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #008a88;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #070707;
}

 /*Resposive*/
@media screen and (max-width: 600px) {
  .titulo {
      margin-left: 20%;
      font-size: 200%;
  }

  .sub-titulo {
      margin-left: 30%;
  }

  .descripción {
      margin-left: 15%;
  }

  .imagen {
      margin-top: -15vw;
      margin-left: 10%;
      height: 70%;
      width: 80%;
  }
}