<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
            <li class="nav-item">
              <a routerLink="/ver-blog" class="nav-link" aria-current="page">Blog</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-horarios" class="nav-link">Horarios</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-actvidades" class="nav-link">Actividades</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-asistencias" class="nav-link">Asistencias</a>
            </li>
            <div class="dropdown">
              <button class="dropdown-button" (click)="toggleProfileMenu()">
                <span class="material-symbols-outlined">person</span>
              </button>
              <div class="dropdown-content" *ngIf="mostrarMenuPerfil" >
                <li class="nav-item">
                  <a routerLink="/perfil-detalle" class="nav-link otro " aria-current="page">Ver Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link otro" (click)="logout()">Cerrar Sesión</a>
                </li>
              </div>
            </div>
        </ul>
  </div>
</nav>
<h1 class="titulo">Bienvenido aprendiz</h1>
<h4 class="sub-titulo">Formación ADSO</h4>
  <div class="descripción">
    <p>Bienvenido a ACANNER, una plataforma que busca mejorar la gestión del tiempo y el control de tus actividades pendientes. Destacamos por nuestra colaboración con el SENA (Servicio Nacional de Aprendizaje), lo que te proporciona acceso a recursos educativos para impulsar tu desarrollo personal y profesional.</p>
  </div>
  <div class="imagen">
    <img class="imagen img-fluid" src="assets/imagenes/aprendiz.png" alt="Aprendiz">
  </div>
