@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.titulo {
    color: #0a7775;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}
.sub-titulo{
    font-weight: bold;
    text-align: center; 
}
.descripción {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    width: 250px; 
    height: 300px;
}

.imagen {
    margin-top: -150px;
    margin-left: 300px;
    height: 300px;
    width: 400px;
}

/* Estilos Nav */
  nav{
    background-color: #008a88;
  }
 
/* Estilos para el menú hamburguesa */
  .nav .nav-item {
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .nav-link {
    color: white;
  }
  .nombre{
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: 'Lobster',sans-serif;
  }
  
  .menu-icon {
    cursor: pointer;
    display: none;
  }
  
  .menu-icon .bar {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  
/* Estilos para mostrar el menú cuando isMenuOpen es verdadero */
  .show-menu .menu-icon {
    display: block;
  }
  
  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }
  
  .show-menu .nav-item {
    margin: 10px 0;
  }
  
/* Estilos para el menú hamburguesa en pantallas más pequeñas (500px o menos) */
  @media (max-width: 601px) {
    .navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .nav {
      display: none;
    }
  
    .menu-icon {
      cursor: pointer;
      display: block;
      margin-right: 20px;
    }
  
    /* Estilos para mostrar el menú en pantallas pequeñas */
    .show-menu .nav {
      display: flex;
      flex-direction: column;
    }
  
    .show-menu .nav-item {
      margin: 0px 0;
    }
  
    .show-menu{
      display: block;
    }
  }

/* Resonsive */
  @media (max-width: 1200px){

    .imagen {
      margin-top: 40px;
      margin-left: 5px;
      height: 300px;
      width: 400px;
    }
  }

/* Estilo del dropdown */
  .otro {
    color: #008a88;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content { 
    display: none;
    margin-top: 06px;
    position: absolute;
    min-width: 160px;
    border-radius: 10px; /* Añadido para esquinas redondas */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    left: -110px; 
  }

  .dropdown-button {
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      background-color: #008a88;
  }

  .dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #333;
  }

  .dropdown-item:hover {
    background-color: #008a88;
  }