body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(#D1D5D5, #0b4f6c);
}

.row {
  border-radius: 10px;
}

.container {
  width: 65%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.section_login {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #088a88, #0b4f6c);
  border-radius: 10px 10px 0 0;
}

.image_login {
  max-width: 50%;
}

.right_section {
  border-radius: 0 0 10px 10px;
  text-align: center;
  background-color: #f4f3f4;
  padding: 80px 0;
}

.title_right_section {
  margin: 30px 0;
  font-size: 35px;
  font-weight: 500;
}

.form_right_section {
  width: 100%;
  margin: auto;
  max-width: 300px;
}

.right_section_form_inputs {
  width: 100%;
  margin: auto;
}

.input-container {
  display: flex;
  box-sizing: border-box;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.input_form_login {
  width: 87%;
  border: none;
  background-color: transparent;
}

.input_form_login:focus {
  outline: none;
}

.icono {
  color: #aaaaaa;
}

.container_link_form {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.link_remember_password {
  text-decoration: none;
  color: black;
}

.link_register_password {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

.boton_enviar_formulario {
  color: #ffffff;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  background-image: linear-gradient(to right, #57a7a5, #088a88, #056b69);
  border: none;
  border-radius: 5px;
}

.boton_enviar_formulario:hover {
  cursor: pointer;
}

.mensaje-alerta{
  color: red;
  margin: 5px 0;
}

@media (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container .section_login {
    border-radius: 10px 0 0 10px;
  }
  .container .right_section {
    border-radius: 0 10px 10px 0;
  }
}


@media (max-width: 530px) and (min-width: 401px) {
  .container {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 400px) and (min-width: 240px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .container_link_form {
    flex-direction: column;
    align-items: center;
  }
  .boton_enviar_formulario {
    margin: 3px;
  }
  .link_register_password {
    margin-top: 10px;
  }
}

@media (max-width: 300px) and (min-width: 239px) {
  .container {
    width: 98%;
    margin: auto;
  }
}
