.list-group-item a, .list-group-item button {
    margin-right: 10px;
}
  

.btn-primary-ver-archivo {
    background-color: #008a88;
    border-color: #008a88;
    color: #fff; 
}
  
  
.btn-primary, .btn-success {
    background-color: #008a88;
    border-color: #008a88;
    color: #fff; 
}
  

.btn-secondary {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #fff; 
}