body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h2{
  margin-bottom: 30px;
  text-align: center;
  color: #088a88;
  font-size: 25px;
}

.container {
  text-align: center;
  padding: 60px 20px;
}

.custom-form-container {
  width: 400px;
  margin: 50px auto;
  border: 1px solid #57a7a5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.custom-button {
  background-color: #088a88;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #057d7d;
}

.edit-form-container {
  margin-top: 40px auto;
  text-align: left;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

form label,
form input {
  display: block;
}

form input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 90%;
}

.btn-primary {
  background-color: #57a7a5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #088a88;
}

.container .btn-primary:active {
  background-color: #088a88;
}

@media (max-width: 400px) {
  /* Estilos del título */
  h2 {
    font-size: 18px; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  /* Estilo para el contenedor principal */
  .container {
    padding: 20px; /* Ajusta el espacio arriba y abajo del contenedor para pantallas más pequeñas */
  }

  /* Estilo para el contenedor del formulario */
  .custom-form-container,
  .edit-form-container {
    width: 90%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
    margin: 30px auto; /* Centra el formulario y ajusta el margen superior para pantallas más pequeñas */
  }

  /* Estilo para el botón */
  .custom-button,
  .btn-primary {
    padding: 8px 12px; /* Ajusta el espacio interno del botón para pantallas más pequeñas */
  }

  /* Estilos del contenedor del formulario */
  .edit-form-container {
    margin: 20px auto; /* Ajusta el margen superior para pantallas más pequeñas */
  }

  /* Estilos de la barra de navegación */
  .navbar {
    margin-bottom: 5px; /* Ajusta el espacio entre la barra de navegación y el título para pantallas más pequeñas */
  }

  /* Estilos de interacción con el botón .btn-primary */
  .btn-primary:hover,
  .custom-button:hover {
    background-color: #057373; /* Cambio de color al pasar el mouse para pantallas más pequeñas */
  }
}

