<app-nav></app-nav>
<br>
<div class="custom-form-container">

  <h2>Cambiar Contraseña</h2>

  <form [formGroup]="form">
      <label for="passwordAnterior">Contraseña anterior:</label>
      <input type="password" id="passwordAnterior" formControlName="passwordAnterior" required>

      <label for="nuevaPassword">Nueva contraseña:</label>
      <input type="password" id="nuevaPassword" formControlName="nuevaPassword" required>
      <div *ngIf="form?.get('nuevaPassword')?.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres.
      </div>

      <label for="confirmarPassword">Confirmar contraseña:</label>
      <input type="password" id="confirmarPassword" formControlName="confirmarPassword" required>

      <button (click)="cambiarContrasena()" class="custom-button">Cambiar Contraseña</button>
  </form>
</div>
