body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h2{
  margin-bottom: 30px;
  text-align: center;
  color: #088a88;
  font-size: 25px;
}

.container {
  text-align: center;
  padding: 60px 20px;
}

.custom-form-container {
  width: 490px;
  height: 350px;
  margin: 50px auto;
  border: 1px solid #57a7a5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.edit-form-container {
  margin-top: 40px auto;
  text-align: left;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

form label,
form input {
  display: block;
}

form input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 90%;
}

button {
  margin-top: 15px;
  position: relative;
  font-size: 1.0em;
  padding: 0.7em 1.4em;
  background-color: #088a88;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: white;
  box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.3);
}

button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(8,138,136,1) 0%, rgba(8,138,136,1) 50%, rgb(243, 243, 243) 50%, rgba(87,167,165,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

button:hover::before {
  width: 1.6em;
  height: 1.6em;
}

button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

@media (max-width: 400px) {
  /* Estilos del título */
  h2 {
    font-size: 18px; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  /* Estilo para el contenedor principal */
  .container {
    padding: 20px; /* Ajusta el espacio arriba y abajo del contenedor para pantallas más pequeñas */
  }

  /* Estilo para el contenedor del formulario */
  .custom-form-container,
  .edit-form-container {
    width: 90%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
    margin: 30px auto; /* Centra el formulario y ajusta el margen superior para pantallas más pequeñas */
  }

  /* Estilo para el botón */
  .custom-button,
  .btn-primary {
    padding: 8px 12px; /* Ajusta el espacio interno del botón para pantallas más pequeñas */
  }

  /* Estilos del contenedor del formulario */
  .edit-form-container {
    margin: 20px auto; /* Ajusta el margen superior para pantallas más pequeñas */
  }

  /* Estilos de la barra de navegación */
  .navbar {
    margin-bottom: 5px; /* Ajusta el espacio entre la barra de navegación y el título para pantallas más pequeñas */
  }

  /* Estilos de interacción con el botón .btn-primary */
  .btn-primary:hover,
  .custom-button:hover {
    background-color: #057373; /* Cambio de color al pasar el mouse para pantallas más pequeñas */
  }
}

