<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="assets/imagenes/LOGO SIN FONDO.png" class="nav-img" alt="icono">
    <div class="navbar">
      <div class="navbar">
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
          <li class="nav-item">
            <a routerLink="/perfil-detalle" class="nav-link active" aria-current="page">
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/indexKatalina" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-blog" class="nav-link active" aria-current="page">Blog</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-actvidades" class="nav-link">Actividades</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-asistencias" class="nav-link">Asistencias</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <h4 class="display-4">Editar Perfil</h4>
  <form [formGroup]="form" (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label for="primerNombre">Primer Nombre:</label>
      <input type="text" id="primerNombre" formControlName="primerNombre" class="form-control">
    </div>

    <div class="form-group">
      <label for="segundoNombre">Segundo Nombre:</label>
      <input type="text" id="segundoNombre" formControlName="segundoNombre" class="form-control">
    </div>

    <div class="form-group">
      <label for="primerApellido">Primer Apellido:</label>
      <input type="text" id="primerApellido" formControlName="primerApellido" class="form-control">
    </div>

    <div class="form-group">
      <label for="segundoApellido">Segundo Apellido:</label>
      <input type="text" id="segundoApellido" formControlName="segundoApellido" class="form-control">
    </div>

    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="text" id="correo" formControlName="correo" class="form-control" [disabled]="true">
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>
