<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
            <li class="nav-item">
              <a routerLink="/ver-blog" class="nav-link" aria-current="page">Blog</a>
            </li>
            <li class="nav-item">
              <a routerLink="/ver-horarios" class="nav-link">Horarios</a>
            </li>
            <div class="dropdown">
              <button class="dropdown-button" (click)="toggleProfileMenu()">
                <span class="material-symbols-outlined">person</span>
              </button>
              <div class="dropdown-content" *ngIf="mostrarMenuPerfil" >
                <li class="nav-item">
                  <a routerLink="/perfil-detalle" class="nav-link otro " aria-current="page">Ver Perfil</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/estadisticas" class="nav-link otro ">Estadísticas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link otro" (click)="logout()">Cerrar Sesión</a>
                </li>
              </div>
            </div> 
        </ul>
  </div>
</nav>
<div class="container">
  <h4 class="display-4">Editar Perfil</h4>
  <form [formGroup]="form" (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label for="primerNombre">Primer Nombre:</label>
      <input type="text" id="primerNombre" formControlName="primerNombre" class="form-control">
    </div>

    <div class="form-group">
      <label for="segundoNombre">Segundo Nombre:</label>
      <input type="text" id="segundoNombre" formControlName="segundoNombre" class="form-control">
    </div>

    <div class="form-group">
      <label for="primerApellido">Primer Apellido:</label>
      <input type="text" id="primerApellido" formControlName="primerApellido" class="form-control">
    </div>

    <div class="form-group">
      <label for="segundoApellido">Segundo Apellido:</label>
      <input type="text" id="segundoApellido" formControlName="segundoApellido" class="form-control">
    </div>

    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="text" id="correo" formControlName="correo" class="form-control" [disabled]="true">
    </div>

    

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>
