@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.chart-container {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.graficoUno,
.graficoDos {
  text-align: center;
  width: 45%;
}

.chart {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.chart h2 {
  margin-bottom: 15px;
}
