@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.chart-container {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.graficoUno,
.graficoDos {
  z-index: -1;
  text-align: center;
  width: 45%;
}

.chart {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.chart h2 {
  margin-bottom: 15px;
  font-size: 1.5em; /* Tamaño del texto del título */
  color: #088a88; /* Color del texto del título */
}

/* Añadir un poco de espacio alrededor del texto para un aspecto más limpio */
.chart h2:before, .chart h2:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0; /* Espacio alrededor del separador */
}
