/* Estilos generales del cuerpo del documento */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Estilos de la barra de navegación */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px; /* Espacio entre la barra de navegación y el título */
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .nav-item {
  cursor: pointer;
  margin-bottom: 10px;
}

.nav-link {
  color: #088a88;
}

.nav-item:last-child .btn-primary {
  cursor: pointer;
}

/* Estilos del contenedor principal */
.container {
  text-align: center;
}

/* Estilos del título */
.container h2 {
  margin-bottom: 20px; /* Espacio entre el título y el contenedor */
}

/* Estilos del contenedor del formulario */
.edit-form-container {
  text-align: left; /* Alinea los elementos del formulario a la izquierda */
  width: 400px; /* Ancho del contenedor del formulario */
  margin: 0 auto; /* Centra horizontalmente el contenedor del formulario */
  border: 1px solid #ccc; /* Borde gris */
  padding: 20px;
  border-radius: 4px;
}

/* Estilos para etiquetas y campos de entrada en el formulario */
form label,
form input {
  display: block;
}

/* Estilo del borde inferior gris para los campos de entrada (90% de ancho) */
form input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 90%;
}

/* Estilos del botón .btn-primary */
.btn-primary {
  background-color: #57a7a5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
}

/* Estilos de interacción con el botón */
.btn-primary:hover {
  background-color: #088a88;
}

.container .btn-primary:active {
  background-color: #088a88;
}
