<form [formGroup]="perfilForm" (ngSubmit)="guardarPerfil()" class="form-box">
  <h2>Tu Perfil</h2>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
  </div>

  <div class="mb-3">
    <label for="foto" class="form-label">Foto (URL):</label>
    <input type="url" id="foto" class="form-control" formControlName="foto" required>
  </div>

  <div class="mb-3">
    <label for="numero_ficha" class="form-label">Número de Ficha:</label>
    <input type="text" id="numero_ficha" class="form-control" formControlName="numero_ficha" required>
  </div>

  <div class="mb-3">
    <label for="correo_electronico" class="form-label">Correo Electrónico:</label>
    <input type="email" id="correo_electronico" class="form-control" formControlName="correo_electronico" required>
  </div>

  <div class="mb-3">
    <label for="trimestre" class="form-label">Trimestre:</label>
    <input type="text" id="trimestre" class="form-control" formControlName="trimestre" required>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="perfilForm.invalid">Guardar</button>
</form>
