.perfil-detalle {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(10, 10, 10, 0.1);
    max-width: 500px;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.card-img-top.small-centered {
    border-radius: 50%;
    max-width: 150px; 
    margin: 0 auto;
    display: block;
}

  
.nav-img{
    width: 50px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nombre {
    font-weight: bold;
    flex-grow: 15; 
    text-align: center; 
}

button {
    background-color: #088a88;
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Ajusta el tamaño del botón según tus necesidades */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px ;
  }
  
  /* Estilo de hover del botón */
  .button:hover {
    background-color: #159997; /* Nuevo color al pasar el mouse sobre el botón */
  }

.information{
    text-align: left;
}

h1 {
    font-weight: bold;
    flex-grow: 15; 
    text-align: center; 
    color: #088a88;
}

 /* Estilos para el menú hamburguesa */
  
 .nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  .nav .nav-item {
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .nav-link {
    color: #070707;
  }
  .nombre{
    color: black;
    font-weight: bold;
  }
  
  .nav-item:last-child .btn-primary {
    cursor: pointer;
  }
  
  
  .menu-icon {
    cursor: pointer;
    display: none;
  }
  
  .menu-icon .bar {
    width: 20px;
    height: 3px;
    background-color: #088a88;
    margin: 6px 0;
  }
  
  /* Estilos para mostrar el menú cuando isMenuOpen es verdadero */
  .show-menu .menu-icon {
    display: block;
  }
  
  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }
  
  .show-menu .nav-item {
    margin: 10px 0;
  }
  
  /* Estilos para el menú hamburguesa en pantallas más pequeñas (500px o menos) */
  @media (max-width: 601px) {
    .navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .nav {
      display: none;
    }
  
    .menu-icon {
      cursor: pointer;
      display: block;
      margin-right: 20px;
    }
  
    /* Estilos para mostrar el menú en pantallas pequeñas */
    .show-menu .nav {
      display: flex;
      flex-direction: column;
    }
  
    .show-menu .nav-item {
      margin: 10px 0;
    }
  
    .show-menu{
      display: block;
    }
  }

  @media (max-width: 601px){

    .perfil-detalle {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 80%;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
  }
  
  }