<div class="perfil-detalle card text-center shadow">
    <img src="{{ perfil.foto }}" alt="Foto de perfil" class="card-img-top">
    <div class="card-body">
        <h2 class="card-title">Detalles del Perfil</h2>
        <p class="card-text"><strong>Nombre:</strong> {{ perfil.nombre }}</p>
        <p class="card-text"><strong>Número de Ficha:</strong> {{ perfil.numero_ficha }}</p>
        <p class="card-text"><strong>Correo Electrónico:</strong> {{ perfil.correo_electronico }}</p>
        <p class="card-text"><strong>Trimestre:</strong> {{ perfil.trimestre }}</p>
    </div>
</div>
