.perfil-detalle {
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 400px; 
    padding: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.card-img-top {
    border-radius: 50%; 
    max-width: 150px; 
    margin: 0 auto;
    display: block; 
}
