@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.sidebar {
  width: 200px;
  background-color: #088a88;
  padding: 5px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: auto;

}

.sidebar ul {
  margin: 10px;
  margin-top: 30px;
}

.sidebar ul li {
  margin-bottom: 25px;
}

.sidebar ul li a span.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 10px;
}
.sidebar ul li a {
  color: #ffffff;
  font-weight: normal;
}

h2 {
  text-align: left;
  font-family: 'Lobster', sans-serif;
  margin: 10px;
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 50px;
}

ul {
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
