<body>
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="container-user">
      <div class="photo">
        <img src="assets/imagenes/perfil.jpg" alt="imagen por el usuario">

      </div>

      <div class="info">
        <h1>Perfil Administrador</h1>
        <br>
        <div id="perfil">
          <p class="bold-p">Primer Nombre: <span id="primerNombre">{{ userData.primerNombre }}</span></p>
          <p class="bold-p">Segundo Nombre: <span id="segundoNombre">{{ userData.segundoNombre }}</span></p>
          <p class="bold-p">Primer Apellido: <span id="primerApellido">{{ userData.primerApellido }}</span></p>
          <p class="bold-p">Segundo Apellido: <span id="segundoApellido">{{ userData.segundoApellido }}</span></p>
          <p class="bold-p">Correo: <span id="correo">{{ userData.correo }}</span></p>
        </div>
        <button (click)="editarInformacion()" class="btn-primary">Editar</button>
        <button (click)="editarPassword()" class="btn-primary">Cambiar contraseña</button>
      </div>
    </div>

  </div>
</body>
