<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCANER</title>
    <link rel="icon" type="icon" href="../../assets/imagenes/LOGO ACANNER SIN FONDO.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .titulo {
            font-size: 32px;
            font-weight: bold;
            background: linear-gradient(120deg, #00aaff, #aa00ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .subtitulo {
            font-size: 24px;
        }
        .descripcion {
            font-size: 18px;
        }
    </style>
</head>
<body>
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/marlon">
            <img src="../../assets/imagenes/LOGO SIN FONDO.png" alt="Logo de la página" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/vista-instructor">Inicio</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="perfil-detalle">
  <h2>Cambiar Contraseña</h2>
  <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="cambiarContrasena()">
    <div class="form-group">
      <label for="contrasenaAntigua">Contraseña Antigua</label>
      <input type="password" class="form-control" id="contrasenaAntigua" formControlName="contrasenaAntigua" required>
    </div>
    <div class="form-group">
      <label for="contrasenaNueva">Contraseña Nueva</label>
      <input type="password" class="form-control" id="contrasenaNueva" formControlName="contrasenaNueva" required>
    </div>
    <div class="form-group">
      <label for="confirmarContrasena">Confirmar Contraseña</label>
      <input type="password" class="form-control" id="confirmarContrasena" formControlName="confirmarContrasena" required>
    </div>
    <div class="alert alert-danger" *ngIf="mensaje">{{ mensaje }}</div>
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
  </form>
</div>
</body>