a {
  text-decoration: none;
}

.form-control::placeholder {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna para que el fondo cubra todo */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Usa min-height en lugar de height */
  background: linear-gradient(#d1d5d5, #0b4f6c);
}

input{
  margin: 5px 0;
}

.container {
  width: 40%;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  border-radius: 10px;
  background-color: #f4f3f4;
}

.title_register {
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
  color: #056b69;
}

.container_columns_form {
  display: flex;
  justify-content: space-around;
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form_submit {
  display: block;
  margin: auto;
}

.form_input {
  font-size: 16px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.form_input:focus {
  outline: none;
}

.form_input:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

select {
  font-weight: bold;
  font-size: 15px;
  color: #757575;
}

.birth_date_container {
  display: flex;
  align-items: center;
}

.birth_date {
  font-weight: bold;
  font-size: 14px;
  width: 50%;
  color: #757575;
}

.form_submit {
  color: #ffffff;
  text-align: center;
  width: 130px;
  margin: 0;
  padding: 10px 5px;
  font-size: 20px;
  background-image: linear-gradient(to right, #57a7a5, #088a88, #056b69);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons_container {
  width: 80%;
  max-width: 300px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1500px) {

  .container {
    max-width: 700px;
    width: 70%;
  }
}

@media only screen and (max-width: 620px) {
  body{
    height: 100%;
  }
  .container_columns_form {
    flex-direction: column;
  }

  .form_container {
    margin: auto;
    width: 80%;
  }

  .form_submit {
    color: #ffffff;
    text-align: center;
    width: 120px;
    padding: 10px 5px;
    font-size: 18px;
  }

  .buttons_container {
    gap: 20px;
    padding: 5px;
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .buttons_container {
    flex-direction: column;
    align-items: center;
  }

  .form_submit {
    width: 70%;
    margin-top: 1px;
  }

  .form_container {
    width: 90%;
    margin: 0 auto;
  }
}


// PARA 310 PX O MENOS SE QUITA EL BAKGROUND Y TODO SE ACOPLA


@media only screen and (max-width: 365px) {
  .container {
    width: 100%;
  }

  .container_columns_form {
    flex-direction: column;
    align-items: center;
  }

  .form_container {
    width: 80%;
  }

  .form_submit {
    width: 100%;
    margin-top: 1px;
  }

  .buttons_container {
    max-width: 200px;
  }
}

