/* Reset de estilos por defecto del navegador */
body, form, input {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #ffffff;
    color: #084B8A;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #3f3939;
    box-shadow: 0px 0px 5px;
  }
  
  /* Estilos para el formulario */
  .contenedor {
    width: 400px;
    margin: 0 auto;
  }
  
  .formulario {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Estilos para el campo de entrada de archivo */
  input[type="file"] {
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #e6e6e6;
    color: #333;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Estilos para el botón de subir archivo */
  input[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
  }
  
  /* Estilos para el espacio de mensajes o notificaciones */
  .mensaje {
    margin-top: 20px;
    text-align: center;
    color: #0066cc;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
  }
  