@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(#D1D5D5, #0b4f6c);
}

.container {
    width: 65%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.section_login{
    width: 50%;
}

.left_section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: linear-gradient(to bottom, #088a88, #0b4f6c);
}

.image_login{
    max-width: 50%;
}

.right_section{
    text-align: center;
    background-color: #f4f3f4;
    padding: 80px 0;
}

.title_right_section{
    margin: 30px 0;
    font-size: 35px;
    font-weight: 500;
}

.form_right_section{
    width: 100%;
    margin: auto;
}

.right_section_form_inputs{
    width: 100%;
    margin: auto;
    max-width: 300px;
}

.input-container{
    display: flex;
    box-sizing: border-box;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.input_form_login{
    width: 87%;
    border: none;
    background-color: transparent;
}

.input_form_login:focus{
    outline: none;
}

.icono{
    color: #aaaaaa;
}

.container_link_form{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.link_remember_password{
    text-decoration: none;
    color: black;
}

.link_register_password{
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

.boton_enviar_formulario{
    color: #ffffff;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    background-image: linear-gradient(to right, #57a7a5, #088a88, #056b69);
    color: white;
    border: none;
    border-radius: 5px;
}

.boton_enviar_formulario:hover{
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    .container{
        width: 60%;
        flex-direction: column;
    }

    .section_login{
        width: 100%;
    }
    
    .title_right_section{
        margin: 0 0 30px 0;
    }

  }

  @media only screen and (max-width: 545px) {
    .container{
        width: 90%;
    }
  }

  @media only screen and (max-width: 355px) {
    .container{
        width: 100%;
    }
  }