/* Estilos de la barra lateral */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.sidebar {
    width: 200px;
    background-color: #088a88;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    overflow-y: auto;
}

.sidebar ul {
    margin: 10px;
    margin-top: 30px;
}

.sidebar ul li {
    margin-bottom: 25px;
}

.sidebar ul li a span.material-symbols-outlined {
    vertical-align: middle;
    margin-right: 10px;
}

.sidebar ul li a {
    color: #ffffff;
    font-weight: normal;
}

h2 {
    text-align: left;
    font-family: 'Lobster', sans-serif;
    margin: 10px;
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 50px;
}

ul {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: -75px;
}

li {
    list-style: none;
    padding: 0px;
    margin: 10px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar {
    background-color: #088a88;
    padding: 3px;
}

.navbar-brand {
    margin-left: -60px;
    color: #ffffff;
    font-family: 'Lobster', sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: normal;
}

/* Estilos de menu de opciones */
.bi-gear {
    margin-right: 5px;
    background-color: #fff;
    color: #e0e0e0;
}

.bi-gear::before {
    content: "\e988"; 
    font-family: "bi";
    margin-right: 5px;
}

/* Estilos para el submenú */
.nav-item .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    color:  #088a88;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: 70.625rem;
}

.nav-item:hover .submenu {
    display: block;
}

.nav-item .submenu li {
    padding: 10px;
    text-align: center;
}

.nav-item .submenu li:hover {
    background-color: #f2f2f2;
}

.color{
    color: #088a88;
}


/* Estilos de la sección de bienvenida */
.welcome-container {
    background-color: #fff;
    border-radius: 10px;
    
    margin-top: 40px;
    padding: 20px;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    background: #088a88;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.subtitulo {
    font-size: 22px;
    color: #101111;
}

.descripcion {
    font-size: 18px;
    color: #333;
}

.image-container img {
    border-radius: 8px;
}

.welcome-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content {
    flex: 1;
    text-align: left;
}

.image-container {
    flex-shrink: 0;
    margin-left: 20px;
}
