<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
            <li class="nav-item">
              <a routerLink="/blog" class="nav-link" aria-current="page">Blog</a>
            </li>
            <li class="nav-item">
              <a routerLink="/horarios" class="nav-link">Horarios</a>
            </li>
            <li class="nav-item">
              <a routerLink="/actvidades" class="nav-link">Actividades</a>
            </li>
            <li class="nav-item">
              <a routerLink="/asistencias" class="nav-link">Asistencias</a>
            </li>
            <div class="dropdown">
              <button class="dropdown-button">
                <span class="material-symbols-outlined">person</span>
              </button>
              <div class="dropdown-content">
                <li class="nav-item">
                  <a routerLink="/perfil" class="nav-link otro " aria-current="page">Ver Perfil</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/estadisticas" class="nav-link otro ">Estadísticas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link otro" (click)="logout()">Cerrar Sesión</a>
                </li>
              </div>
            </div> 
        </ul>
  </div>
</nav>
<h1 class="titulo">Bienvenido instructor</h1>
<h4 class="sub-titulo">Formacion ADSO</h4>
  <div class="descripción">
    <p>¡Explora el mundo del aprendizaje con nuestros talentosos guías en ACANNER! Nuestros instructores son expertos apasionados comprometidos a enriquecer tu experiencia de aprendizaje. Con su dedicación y conocimientos especializados, te guiarán a través de cada módulo de curso, 
        asegurándose de que alcances tus metas de manera efectiva. </p>
  </div>
  <div class="imagen">
    <img class="imagen img-fluid" src="assets/imagenes/Instructor.jpg" alt="Instructor">
  </div>