@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Riot&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at top left, #f7f7f7, #008a88);
}

.titulo {
  color: #0d5755;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
  font-size: 40px;
  font-family: "Outfit", sans-serif;
}

.descripcion {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  width: 570px;
}

.nav .nav-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.nav-link {
  font-weight: bold;
  color: white;
}

.nav-link:hover{
  color: #0d5755;
}

.nombre{
  padding: 10px;
  color:  #008a88;
  font-size: 25px;
  font-family: 'Lobster',sans-serif;
}

// ESTILOS HAMBURGUESA

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon .bar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.show-menu .menu-icon {
  display: block;
}

.show-menu .nav {
  display: flex;
  flex-direction: column;
}

.show-menu .nav-item {
  margin: 10px 0;
}

@media (max-width: 601px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    font-weight: bold;
    color:#008a88;
  }

  .nav {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    margin-right: 20px;
  }

  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }

  .show-menu .nav-item {
    margin: 0px 0;
  }

  .show-menu{
    display: block;
  }
}

@media (max-width: 1200px) {
  .col-md-6 {
    width: 100%;
  }
  .descripcion {
    width: 100%;
    font-size: 18px;
  }

.titulo {
  margin-top: 5%;
  text-align: center;
  line-height: 1.0;
  font-size: 35px;

}

.img-fluid {
  max-width: 80%;
  height: auto;
}

}

@media (max-width: 767px) {
  .col-md-6 {
    width: 90%;
  }

  .titulo[_ngcontent-ng-c4128592498] {
    text-align: center;
    line-height: 1;
    font-size: 33px;
    margin-top: 30px;

  }
  .descripcion {
    text-align: center;
    font-size: 16px;

  }

  .img-fluid {
    max-width: 60%;
    height: auto;
  }

  .titulo {
    text-align: left;
    line-height: 1.0;
    font-size: 35px;
    margin-top: 20px;

  }

}

