@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.subtitulo{
  color: #0a7775;
  text-align: center;
  font-weight: bolder;
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  font-style: normal;
}

/* Container */
.instagram-div {
  margin-left: 30px;
  max-width: 350px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex-direction: column;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.button {
  background-color: #0a7775;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  color: #262626;
  margin-top: 10px;
}


/* Estilos Nav */
nav{
  background-color: #008a88;
}

/* Estilos para el menú hamburguesa */
.nav .nav-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: rgb(14, 13, 13);
}
.nombre{
  padding: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Lobster',sans-serif;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon .bar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

/* Estilos para mostrar el menú cuando isMenuOpen es verdadero */
.show-menu .menu-icon {
  display: block;
}

.show-menu .nav {
  display: flex;
  flex-direction: column;
}

.show-menu .nav-item {
  margin: 10px 0;
}

/* Estilos para el menú hamburguesa en pantallas más pequeñas (500px o menos) */
@media (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    margin-right: 20px;
  }

  /* Estilos para mostrar el menú en pantallas pequeñas */
  .show-menu .nav {
    display: flex;
    flex-direction: column;
  }

  .show-menu .nav-item {
    margin: 0px 0;
  }

  .show-menu{
    display: block;
  }
}

/* Estilo del dropdown */
.otro {
  color: #008a88;
}
button {
  color: #fff;
}

.dropdown-content { 
  margin-top: 7px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #ccc; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  padding: 10px;
}

.dropdown-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #008a88;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #070707;
}

@media (max-width: 600px) {
  .instagram-div {
    margin-left: 10%;
    max-width: 80%;
    height: 80%;
  }
  .image {
    width: 80%;
    height: 70%;
    border-radius: 10%;
    margin-bottom: 20%;
  }
  .name {
    margin-top: -15%;
    font-weight: bold;
  }
    
  .description {
    margin-top: 10%;
  }
}


.subir{
  margin-top: 20px;
}

h2 {
  color: #008a88;
  font-size: 30px;
  font-weight: bold; 
}

label {
  font-weight: bold;
}

.btn-primary {
  margin-top: 10px;
  background-color: #008a88;
  border: none;
}

.btn-primary:hover {
  background-color: #005b59;
  color: #000000;
}

.mostrar{
  margin-top: 30px;
  margin-left: 50px;
}
.btn-link {
  border: none;
  border-radius: 5px;
  color: #f5f5f5; 
  background-color: #005b59;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.btn-link:hover {
  color: #333; 
}

.btn-primary,
.btn-secondary {
  text-decoration: none;
  font-weight: bold;
  color: #fff; 
  background-color:#005b59; 
  border: none;
  border-radius: 5px; 
  padding: 0.5rem 1rem;
  margin-right: 5px;
  transition: background-color 0.3s ease; 
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #005b59; 
}


.form-group {
  display: flex;
  justify-content: space-between;
}


.btn-cancelar {
  color:#f5f5f5; 
  background-color: #850606; 
  border: none;
  border-radius: 5px; 
  padding: 0.5rem 1rem; 
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.btn-cancelar:hover {
  background-color:#850606; 
}
.card-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #252525; 
}
.container {
  margin-top: 40px;
  box-shadow: 0 5px 9px rgba(5, 5, 5, 0.1);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 700px;
}

.form-group {
  margin-bottom: 13px; 
}

label {
  font-weight: bold;
  display: block; 
}

input[type="text"],
textarea {
  width: 90%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-primary {
  margin-top: 10px;
  background-color: #005b59;
  border: none;
}

.btn-primary:hover {
  background-color: #005b59;
}

.button-container {
  display: flex;
  justify-content: center; 
}

.button-container button {
  margin: 0 5px; 
}

.card-img-top {
  max-width: 200px;
  height: auto;
  margin: 0 auto; 
}

/* Agregar color de fondo y estilos para el botón de crear horario */
.btn-primary.crear-horario {
  
  background-color:#005b59; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-primary.crear-horario:hover {
  background-color: #005b59; 
}

/* Estilos para el botón de ver archivo */
.btn-primary.ver-archivo {
  text-decoration: none;
  font-weight: bold;
  background-color: #005b59; 
  border: none;
  border-radius: 5px;
  color: #f5f5f5;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary.ver-archivo:hover {
  background-color:#005b59;
}

/* Estilos para el formulario en la sección de crear horario */
.container {
  margin-top: 40px;
  box-shadow: 0 5px 9px rgba(5, 5, 5, 0.1);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 700px;
}

.container label {
  font-weight: bold;
  display: block;
}

.container input[type="text"],
.container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.container input[type="file"] {
  margin-bottom: 20px;
}

/* Alinear botones de editar, eliminar y ver archivo */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.button-container button {
  margin: 0 5px; 
}


/* Reducir tamaño de imagen de horario */
.image {
  width: 50%;
  max-height: 200px; 
  border-radius: 10px;
  margin-bottom: 10px;
}
.date{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #252525;
}