<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Actividad</title>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/vista-instructor">
                <img src="../../assets/imagenes/LOGO SIN FONDO.png" alt="Logo de la página" width="51" height="50">
                A C A N N E R
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    
                </ul>
            </div>
        </div>
    </header>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="titulo">Crear Horario</h3>
        <form (submit)="createHorario()">
          <div class="form-group">
            <label for="nombreArchivo">Horario de la ficha: </label>
            <input [(ngModel)]="newHorario.nombreArchivo" name="nombreArchivo" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="archivo">Subir archivo:</label>
            <input type="file" (change)="handleFileInput($event)" name="archivo" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="comentario">Comentario:</label>
            <textarea [(ngModel)]="newHorario.comentario" name="comentario" class="form-control" required></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <h2 class="subtitulo mt-5">Horarios</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let horario of horarioList">
            <ng-container *ngIf="!editingHorario || horario.id !== editingHorario.id; else editTemplate">
              <h4>{{ horario.nombreArchivo }}</h4>
              <p>{{ horario.comentario }}</p>
              <a (click)="descargarArchivo(horario.archivoUrl)" class="btn btn-primary-ver-archivo">Ver archivo</a>
              <button (click)="editHorario(horario)" class="btn btn-primary">Editar</button>
              <button (click)="deleteHorario(horario.id_horario)" class="btn btn-danger">Eliminar</button>
            </ng-container>
            <ng-template #editTemplate>
              <div class="form-group">
                <input [(ngModel)]="editingHorario.nombreArchivo" name="nombreArchivo" class="form-control" />
              </div>
              <div class="form-group">
                <textarea [(ngModel)]="editingHorario.comentario" name="comentario" class="form-control"></textarea>
              </div>
              <button (click)="updateHorario()" class="btn btn-success">Guardar</button>
              <button (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
