<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link nombre" >Acanner</a>
    <div class="menu-icon" (click)="toggleProfileMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul [ngClass]="{'nav': true, 'show-menu': mostrarMenuPerfil}">
      <li class="nav-item">
        <a routerLink="/vista-instructor" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="/blog" class="nav-link" aria-current="page">Blog</a>
      </li>
      <li class="nav-item">
        <a routerLink="/actividad" class="nav-link">Actividades</a>
      </li>
      <li class="nav-item">
        <a routerLink="/asistencia" class="nav-link">Asistencias</a>
      </li>
      <div class="dropdown">
        <button class="dropdown-button" (click)="toggleProfileMenu()">
          <span class="material-symbols-outlined">person</span>
        </button>
        <div class="dropdown-content" *ngIf="mostrarMenuPerfil" >
          <li class="nav-item">
            <a routerLink="/perfil" class="nav-link otro " aria-current="page">Ver Perfil</a>
          </li>
          <li class="nav-item">
            <a routerLink="/estadisticas" class="nav-link otro ">Estadísticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link otro" (click)="logout()">Cerrar Sesión</a>
          </li>
        </div>
      </div> 
    </ul>
  </div>
</nav>
<div class="container">
  <h2 class="subtitulo mt-5">Crear Horarios</h2>
  <form (submit)="crearHorario()" enctype="multipart/form-data">
    <label for="nombre">Titulo:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="newHorario.nombre" required>
    <label for="comentario">Comentario:</label>
    <textarea id="comentario" name="comentario" [(ngModel)]="newHorario.comentario" required></textarea>
    <label for="archivo">Archivo:</label>
    <input type="file" id="archivo" name="archivo" (change)="handleFileInput($event)" required><br>
    <button type="submit" class="btn btn-primary">Subir Horario</button>
  </form>  
</div>
<div class="mostrar">
  <h2>Lista de Horarios</h2>
  <div *ngIf="newsList.length > 0; else noHorarios">
    <div class="row">
      <div class="col-md-4" *ngFor="let horario of newsList">
        <div class="card mb-3">
          <div class="card-body">
            <p class="date" style="font-size: 12px;">{{ horario.fecha | date:'dd/MM/yyyy'}}</p>
            <h3 class="card-title">{{ horario.nombre }}</h3>
            <img class="image" src="assets/imagenes/Horario.png" alt="Portada">
            <p class="card-text">{{ horario.comentario }}</p>
            <div class="button-container">
              <button class="btn btn-primary" (click)="descargarArchivo(horario.urlArchivo, horario.nombreArchivo)">Ver Archivo</button>
              <button class="btn btn-link" (click)="editarHorario(horario)">Editar</button>
              <button class="btn-cancelar" (click)="eliminarHorario(horario.identificador)">Eliminar</button>
            </div><br>                    
            <div *ngIf="editingHorario && editingHorario.identificador === horario.identificador">
              <form (ngSubmit)="guardarEdicion()" #editHorarioForm="ngForm">
                <div class="form-group">
                  <label for="nombre">Titulo:</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="editingHorario.nombre" required>
                </div>
                <div class="form-group">
                  <label for="comentario">Comentario:</label>
                  <textarea class="form-control" id="comentario" name="comentario" [(ngModel)]="editingHorario.comentario" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <button type="button" class="btn-cancelar" (click)="cancelarEdicion()">Cancelar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noHorarios>
    <p>No hay horarios disponibles.</p>
  </ng-template>
</div>
