<app-nav></app-nav>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Primer Nombre</th>
      <th>Primer Apellido</th>
      <th>Fecha de Nacimiento</th>
      <th>Ficha</th>
      <th>Correo</th>
      <th>Rol</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios; let i = index">

      <td *ngIf="usuario.editar === false">{{ usuario.id_usuario }}</td>
      <td *ngIf="usuario.editar === false">{{ usuario.primer_nombre }}</td>
      <td *ngIf="usuario.editar === false">{{ usuario.primer_apellido }}</td>
      <td *ngIf="usuario.editar === false">{{ usuario.fecha_nacimiento }}</td>
      <td *ngIf="usuario.editar === false">{{ usuario.ficha }}</td>
      <td *ngIf="usuario.editar === false">{{ usuario.correo }}</td>
      <td *ngIf="usuario.editar === false">{{ usuario.rol }}</td>
      <td *ngIf="usuario.editar === false" (click)="editUser(i)">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvF0zFKBDEUh/HfnkALEWy19gI2Xkg7rdZGRAu19EaCN7ASbK0EtxeUB1PEcTLJTHbZtEm+7+X/XhY2vBYb5msV3OAb17lCWwQPuOjAl3gckswV7OEV+wn0Crd9yRzBLr5whGccdNAl7loFZ4hKT/COQ7x08TRHFHlH7rE+cIo37GDV2uRo4n0PEpJjfI6Nek0P0spT1hPOS/+oJGiCh3xMkINHMyOyqpUTrAWee8Ha4DnBz8DbJ8WS3h+KqC+YDa95QRO8NEVVU1I6VPoHpfvF/a0IhqaoWGly4E/RNVM0Bf6vr1uJaGrFo+d/AQouJhks7bRaAAAAAElFTkSuQmCC"/>
      </td>

      <td class="table_true" *ngIf="usuario.editar === true"><input type="text" [value]="usuario.id_usuario"></td>
      <td class="table_true" *ngIf="usuario.editar === true"><input type="text" [value]="usuario.primer_nombre"></td>
      <td class="table_true" *ngIf="usuario.editar === true"><input type="text" [value]="usuario.primer_apellido"></td>
      <td class="table_true" *ngIf="usuario.editar === true"><input type="date" [value]="usuario.fecha_nacimiento"></td>
      <td class="table_true" *ngIf="usuario.editar === true">
        <select name="ficha" id="ficha">
          <option value="2558104">2558104</option>
        </select>
      <td class="table_true" *ngIf="usuario.editar === true"><input type="email" [value]="usuario.correo"></td>
      <td class="table_true" *ngIf="usuario.editar  === true">
        <select name="rol_options" id="rol_options">
          <option value="1">Instructor</option>
          <option value="2">Aprendiz</option>
          <option value="3">Admin</option>
        </select>
      </td>
      <td *ngIf="usuario.editar === true" (click)="editUser(i)">
        <i class='bx bx-check'></i>
        <i class='bx bx-x'></i>
      </td>





    </tr>
  </tbody>
</table>
