.filtro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
}

.filtro-container label {
  font-size: 13px;
  color: #4d4d4d;
}

.filtro-container input,
.filtro-container select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #57a7a5;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 15px;
  outline: none;
}

.filtro-container select option {
  font-size: 14px;
}

.filtro-buttons {
  display: flex;
  gap: 10px;
}

.filtro-buttons button {
  background-color: #57a7a5;
  color: white;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filtro-buttons button:hover {
  background-color: #4d8a83;
}

table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  overflow-x: auto;
}

thead {
  background-color: #57a7a5;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

th {
  text-align: center;
  color: white;
}

td {
  color: #333;
}

td.edit-mode, td.view-mode {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table_true {
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.table_true input {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

td i {
  font-size: 20px; /* Ajusta el tamaño según tus preferencias */
  margin-right: 10px; /* Agrega un poco de espacio entre los íconos */
  cursor: pointer;
  transition: color 0.3s ease; /* Agrega una transición de color al pasar el ratón */
}

td i:hover {
  color: #57a7a5; /* Cambia el color al pasar el ratón */
}

@media only screen and (max-width: 965px) {
  .filtro-container {
    flex-direction: column;
    align-items: stretch;
  }

  .filtro-container input,
  .filtro-container select {
    width: 40%;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .filtro-buttons {
    margin-top: 5px;
    flex-direction: row; /* Mantiene los botones en línea horizontal */
    justify-content: center; /* Centra los botones horizontalmente */
  }

  .filtro-buttons button {
    padding: 5px 10px; /* Ajusta el tamaño de los botones */
    font-size: 12px; /* Ajusta el tamaño de la fuente de los botones */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }

  table {
    width: 100%;
    overflow-x: auto;
  }

  th, td {
    white-space: nowrap; /* Evita el colapso del texto en celdas pequeñas */
  }
}
