<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="assets/imagenes/LOGO SIN FONDO.png" class="nav-img" alt="icono">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse flex-row-reverse"
        id="navbarNavDropdown"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/indexKatalina" class="nav-link active"  id="item"  aria-current="page">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-blog" class="nav-link active" aria-current="page">Blog</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-horarios" class="nav-link">Horarios</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-actvidades" class="nav-link">Actividades</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-asistencias" class="nav-link">Asistencias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2>Cambiar Contraseña</h2>
    <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="cambiarContrasena()">
      <div class="form-group">
        <label for="contrasenaAntigua">Contraseña Antigua</label>
        <input type="password" class="form-control" id="contrasenaAntigua" formControlName="contrasenaAntigua" required>
      </div>
      <div class="form-group">
        <label for="contrasenaNueva">Contraseña Nueva</label>
        <input type="password" class="form-control" id="contrasenaNueva" formControlName="contrasenaNueva" required>
      </div>
      <div class="form-group">
        <label for="confirmarContrasena">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirmarContrasena" formControlName="confirmarContrasena" required>
      </div>
      <div class="alert alert-danger" *ngIf="mensaje">{{ mensaje }}</div>
      <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
  </div>
