<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="assets/imagenes/LOGO SIN FONDO.png" class="nav-img" alt="icono">
    <div class="navbar">
      <div class="navbar">
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul [ngClass]="{'nav': true, 'show-menu': isMenuOpen}">
          <li class="nav-item">
            <a routerLink="/perfil-detalle" class="nav-link active" aria-current="page">
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/indexKatalina" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-blog" class="nav-link active" aria-current="page">Blog</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-actvidades" class="nav-link">Actividades</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ver-asistencias" class="nav-link">Asistencias</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
  <div class="container">
    <h2>Cambiar Contraseña</h2>
    <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="cambiarContrasena()">
      <div class="form-group">
        <label for="contrasenaAntigua">Contraseña Antigua</label>
        <input type="password" class="form-control" id="contrasenaAntigua" formControlName="contrasenaAntigua" required>
      </div>
      <div class="form-group">
        <label for="contrasenaNueva">Contraseña Nueva</label>
        <input type="password" class="form-control" id="contrasenaNueva" formControlName="contrasenaNueva" required>
      </div>
      <div class="form-group">
        <label for="confirmarContrasena">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirmarContrasena" formControlName="confirmarContrasena" required>
      </div>
      <div class="alert alert-danger" *ngIf="mensaje">{{ mensaje }}</div>
      <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
  </div>
